/* src/App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(135deg, #6b73ff, #000dff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: calc(100% - 22px);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #6b73ff;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000dff;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 80%;
  max-width: 1000px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: left;
  color: black;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #6b73ff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

input[type="text"], input[type="date"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}